html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background: #2d2d2d;
	margin: 0;
	font-family: 'Helvetica Neue', 'Lucida Grande', 'Source Sans Pro';
}

.container {
	width: 50vw;
	max-width: 600px;
	margin: 0 auto;
	padding: 10% 0;
}

h1 {
	font-size: 48px;
}

p {
	color: #aaa;
	font-size: 22px;
}

h1, a, a:visited {
	color: #eee;
}

a {
	text-decoration: none;
}

a:hover {
	color: #e5373a;
	text-decoration: underline;
}

ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding: 0;
}

ul li {
	padding: 0 20px;
	list-style: none;
	font-size: 22px;
}

ul li:first-child{
	padding-left: 0;
}


@media only screen and (max-width: 720px){
	.container {
		width: 100vw;
		padding: 15px;
	}

	h1 {
		font-size: 42px;
	}

	p {
		font-size: 18px;
	}
}
